syntax: glob
cmd/mid/mid
cmd/rectview/rectview
cmd/lvlgen/lvlgen
cmd/envnear/envnear
cmd/envgen/envgen
cmd/enmnear/enmnear
cmd/enmgen/enmgen
cmd/itmnear/itmnear
cmd/itmgen/itmgen
cmd/tee/tee
*.o
*.swp
*.a
*.exe
Mid.app
cur.lvl
.DS_Store
prereqs
